body {
    background-image: url(/assets/images/dust.png);
    margin: 0px;
}

header {
    background: #ffffff;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #cccccc;
    position: relative;
  
}

h1 {
    font-size: 50px;
    padding: 20px;
    margin-left: 260px;
    background: #4aaaa5;
    width: 400px;
    text-align: center;
    margin-top: 0px;
    color: #ffffff;
}

ul {
    list-style: none;
    position: absolute;
    top: 30px;
    right: 50px;
}

li {
    float: left;
    border-right: 2px;
    border-color: black;
    padding: 10px;    

}

a {
    color: #777777;
    text-decoration: none;
    padding: 5px;
    display: block;
   
}

a:hover {
    font-weight: bold;
}

nav a.active {

    
}

/* a::after {
    content: "|";
    margin-left: 10px;
} */

section {
    clear: both;
    width: 960px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #ffffff;
    margin-top: 30px;
    padding: 40px;
    overflow: auto;
}

h2 {
    color: #4aaaa5;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.pic {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 300%;
    color: #777777;
    font-size: 18px;
}

hr {
    margin-bottom: 30px;
}
    

footer {
    background-color: #666666;
    color: #ffffff;
    margin-top: 130px;
    height: 100px;
    border-style: solid;
    border-top-width: 10px;
    border-color: #4aaaa5;
    position: relative;
    clear: both;

}

.footer {
    position: absolute;
    bottom: 0;
    right: 50%;
    padding-bottom: 20PX;
    color: #cccccc;
}

.portfolio {
    float: left;
    position: relative;
}

.portfoliopic {
    width: 300px;
    height: 300px;
    margin: 10px 20px 20px 0px;
}

h3 {
    position: absolute;
    background: #4aaaa5;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    width: 280px;
    bottom: 40px;
}

form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 150%;
    color: #777777;
    font-size: 18px;
}

#formbox {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 18px;
}

input{ 
    height: 30px;  
}

textarea {
    border-color: #cccccc;

}

button {
    background: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;

}

button:hover {
    background: #B5555A;
}
